
<div id="nrbox">
  <div id="lmcap" class="cmain">
    <div>Personal Center</div>
  </div>

  <div id="lmclass" class="cmain">
    <table align="center" border="0" cellspacing="0" cellpadding="0">
      <tr>

        <td><div class="cb2"> <a routerLink="/infochange" routerLinkActive="active" id="Infochange">信息修改</a></div></td>
        <td><div class="cb2"> <a routerLink="/orderlist" routerLinkActive="active" id="Orderlist">查看订单</a></div></td>
        <td><div class="cb2"> <a routerLink="/messagelist" routerLinkActive="active" id="Messagelist">查看留言</a></div></td>


    </table>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
